<div class="sidebar-toggle sidebar-toggle-sm">
    <button type="button" id="sidebarToggle" class="btn btn-info">
        <i class="bi bi-list"></i>
    </button>
</div>
<nav id="sidebar" class="sidebar-hide-sm">
    <ul class="components">
        <li >
            <a class="navlink" href="/posts/get-started/intro"> Get Started </a>
        </li>

        <li>
            <a class="navlink" href="/posts/get-started/architecture"> Architecture </a>
        </li>

        <li>
            <a class="navlink" href="/posts/get-started/architecture"> Developer Guides </a>
        </li>

        <li>
            <a class="navlink" href="/posts/get-started/architecture"> Community </a>
        </li>           
    </ul>
</nav>
<script type="text/javascript" src="/sidebar.js"></script>
